*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    color: whitesmoke;
    margin: 20px;
}
h3{
    color: whitesmoke;
    margin: 10px;
    padding: 5px;
}
body{
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: hidden;
}
form{
    background-color: rgb(109, 108, 108);
    width: 40%;
    margin: 20px;
    display: grid;
    grid-template-rows: auto;
    row-gap: 2px;
}
.form-label{
    color: whitesmoke;
    padding: 5px;
    margin-left: 10px;
}
form input{
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
form button{
    width: 200px;
    padding: 10px;
    margin: 10px;
}
#applications-container{
    background-color: rgb(109, 108, 108);
    width: 50%;
    height: 50vh;
    margin: 20px;
    padding-top: 2px;
}
#applications-header, .application{
    display: grid;
    grid-template-columns: 45% 35% 20%;
}
#applications-header{
    color: whitesmoke;
    padding: 10px;
}
#applications{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.application{
    background-color: whitesmoke;
    padding: 10px;

    border-style: solid;
    border-color:black;
    border-width: 2px;
    border-left: 0;
    border-right: 0;
}
.application > div{
    word-wrap: break-word;
    padding-left: 2px;
    padding-right: 2px;
}

/*Admin*/
#applications-admin-header, .application-admin{
    display: grid;
    grid-template-columns: 35% 25% 20% 20%;
}
#applications-admin-header{
    color: whitesmoke;
    padding: 10px;
}
#applications-admin{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.application-admin{
    background-color: whitesmoke;
    padding: 10px;

    border-style: solid;
    border-color:black;
    border-width: 2px;
    border-left: 0;
    border-right: 0;
}
.application-admin > div{
    word-wrap: break-word;
    margin: 3px;
    padding-left: 2px;
    padding-right: 2px;
}
.status-button{
    width: 40%;
    min-width: fit-content;
    padding: 3px;
}